#root {
    background-color:  white;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: "navigation" "header" "content" "footer";
}

p {
    color: white;
    font-family: 'Press Start 2P';
}

h1 {
    font-weight: bold;
}

#header {
    color: white;
    background-color: rgba(226, 150, 8, 0.534);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    grid-area: header;
    font-family: 'Press Start 2p';
}

img {
    border-radius: 50%;
    border-style: solid;

    display: block;
    /*Responsive Web Design down below */
     
    max-width: 300px;
    width: 80%;
    margin: 2px auto;
    margin-bottom: 20px;
    
}

#content>h1 {
    background-color:  rgba(226, 150, 8, 0.534);
    padding: 100px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-family: "Press Start 2P";
    grid-area: content;
}

#footer {
    background-color:  rgba(226, 150, 8, 0.534);
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    grid-area: footer;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

.brand {
    color: white;
}

.emphasis {
    font-weight: bold;
    color: whitesmoke;
}

#middle {
    font-size: 2em;
    font-style: italic;
    color: white;
}

#navigation {
    background-color: rgb(255, 253, 253);
    font-family: "Press Start 2P";
    line-height: 40px;
    position: sticky;
    top: 0;
    grid-area: navigation;
}

#navigation ul:hover {
    background-color:  rgba(226, 150, 8, 0.534);
}

#navigation>ul>li {
    align-items: center;
    position: relative;
    display: inline;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
    padding: 0;
}

#navigation .dropdown {
    position: absolute;
    background-color: rgba(226, 150, 8, 0.534);
    display: none;  
    padding: 5px;
}

#navigation a:hover+.dropdown, #navigation a+.dropdown :hover {
    display: block;
}

#navigation ul {
    align-items: center;
    height: 10vh;
    justify-content: space-evenly;
    flex-direction: row;
}

@media(min-width: 750px) {
    #root {
        background-color:  rgba(226, 150, 8, 0.534);
        grid-template-columns: 20% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas: "navigation header" "navigation content" "navigation footer";
    }
    #navigation>ul {
        flex-direction: row ;
    }

    #navigation .dropdown {
       
        left: 4vw;
    }
}